<div class="context-menu" 
     x-show="contextMenu.show" 
     :style="'left: ' + contextMenu.x + 'px; top: ' + contextMenu.y + 'px;'"
     @click.away="contextMenu.show = false"
     style="display: none;">
    
    <template x-if="!contextMenu.targetFile">
        <div>
            <button @click="openCreator()" x-text="t('create_file')"></button>
            <button @click="openTerminal()" x-text="t('open_terminal')"></button>
        </div>
    </template>

    <template x-if="contextMenu.targetFile && contextMenu.targetFile.category === 'system'">
        <div>
            <button @click="openFile(contextMenu.targetFile)" x-text="t('execute')"></button>
            <button @click="inspectFile(contextMenu.targetFile)" x-text="t('inspect')"></button>
        </div>
    </template>
    
    <template x-if="contextMenu.targetFile && contextMenu.targetFile.category === 'document'">
        <div>
            <button @click="viewFile(contextMenu.targetFile)" x-text="t('view')"></button>
            
            <template x-if="contextMenu.targetFile.id !== 'readme'">
                <button @click="editFile(contextMenu.targetFile)" x-text="t('edit')"></button>
            </template>
            
            <button @click="inspectFile(contextMenu.targetFile)" x-text="t('inspect')"></button>
            
            <template x-if="contextMenu.targetFile.id !== 'readme'">
                <button @click="deleteFile(contextMenu.targetFile)" style="color: #ff5f56;" x-text="t('delete')"></button>
            </template>
        </div>
    </template>
</div>